body {
    background-color:rgb(68, 62, 121);
}
.container {
    max-width:100%;
    height: auto;
    width:100%;
    padding: 0px 0px;
    margin-bottom: 20px;
    
}
.absolute {
    text-align: left;
    margin: 0 auto;
    width:100%;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.title{
    background-color:rgb(174, 0, 255);
    text-align: center;
    padding: 20px;
    width:100%;
    margin:0 auto;
    color:white;
}

.question {
    margin:20px;
    
}
.question p {
    color:white;
}

.question-title {
    margin: 0 0 0px 0;
}

.form-check{
    font-size: 0.8em;
    line-height: 0.5em;
    padding:0px 0 0 30px;
    margin: 0px 0 0 0;
}
.form-check-input{
    margin:13px 0 0 0px;
    background-color:rgb(110, 146, 246);
    cursor:pointer;
}

.form-check-input:checked{
    background-color:rgb(255, 187, 0);
    border:2px solid rgba(255, 0, 0, 0.281)
}

.form-check-label{
    margin:15px 0 0 0px;
    color:rgb(134, 175, 251);
    cursor:pointer;

}
.form-check-label:hover{
    color:burlywood;

}
.form-check-input:checked + .form-check-label{
    color:yellow;
} 

.btn-primary {
    margin:0 0 0 20px;
}

.result {
    margin:20px;
    color:yellow;
}

.popup-wrapper {
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.5);
    height:100%;
    width:100%;
}

.popup {
    background-color:darkslateblue;
    padding:20px;
    max-width: 250px;
    margin: 20px auto;
    text-align:center;
    position: relative;

}

.popup-close {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 6px 11px 8px 11px;
    background-color: black;
    border-radius: 20px;
    cursor:pointer;

}